# Ignorar el entorno virtual
reconocimientoEnv/

# Ignorar fotos usuarios
users/
scripts/class_indices.json
scripts/modelo_reconocimiento_facial.h5
scripts/modelo_reconocimiento_mejorado.h5
usuarios.db
head

# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Archivos de configuración del entorno
.env
*.env

# Archivos y carpetas de logs
*.log
logs/
*.sqlite3

# Configuración del IDE
.vscode/
.idea/
*.sublime-workspace

# Configuración de sistema operativo
.DS_Store
Thumbs.db

# Carpetas temporales y de caché
tmp/
.cache/
*.bak

# Archivos relacionados con Jupyter (si los usas)
.ipynb_checkpoints/

# Configuración de paquetes
*.egg-info/
dist/
build/
